* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
  /* background-image: linear-gradient(to right top, #01473f, #0a704d, #489849, #91be35, #ebdd12); */
  background-color: #cbe896;
  text-align: center;
}

.container-quote{
  margin: 20px 50px;
  background-color:#D3F3EE;
  min-height: 100px;
}

.form{
  margin-top: 10px;
  padding: 10px;
  
}

.form p{
  font-size: 1.5rem;
 
}

#job-stage, #job-type {
  display: inline;
  width: 50%;
}


#submit-button, #clear-button{
  margin: 10px;
  
}
